numpy>=1.20.2
pandas>=1.2.3
nltk>=3.6.1
python-Levenshtein>=0.12.2
beautifulsoup4>=4.9.3
ipython>=7.22.0
gensim==3.8.3
pyLDAvis>=3.3.1
Cython>=0.29.23
funcy>=1.15
future>=0.18.2
jinja2>=1.2
joblib>=1.0.1
numexpr>=2.7.3
scikit-learn>=0.24.1
sklearn>=0.0
opentuner>=0.8.3
dill>=0.3.4
pyspellchecker>=0.6.3
beautifulsoup4>=4.9.3
cloudscraper>=1.2.30
dill>=0.3.4